.App {
  font-family: sans-serif;
  --ac-height: 40px;
  --ac-font-size: 18px;
}
.c-container__shell{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn__search{
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  background: white;
  border: solid 1px rgb(175, 175, 175);
  border-radius: 4px;
  height: 40px;
}
.btn__search:hover{
  background: rgb(213, 213, 213);
}
.c-ac {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin-right:5px;
  flex-basis: 80%;
}
.c-ac .c-ac__input {
  width: 100%;
  height: var(--ac-height);
  box-sizing: border-box;
  padding: 5px 8px;
  font-size: var(--ac-font-size);
  vertical-align: middle;
  border: solid 1px rgb(213, 213, 213);
  border-radius: 4px;
}
.c-ac .c-ac__input:focus{
  outline: none;
  border: solid 1px rgb(175, 175, 175);
}
.c-ac .c-ac__suggestions {
  border-radius: 5px;
  box-shadow: 0px 3px 13px -5px rgba(0, 0, 0, 0.52);
  position: absolute;
  left: 0;
  right: 0;
  top: var(--ac-height);
  background: white;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.c-ac__suggestions .c-suggestions__item {
  padding: 8px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.c-ac__suggestions .c-suggestions__item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 10px;
}
.c-ac__suggestions .c-suggestions__item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 10px;
}
.c-ac__suggestions .c-suggestions__item:hover {
  background-color: rgb(199, 199, 199);
}
